@using NongSanVietNam.Models;
@model IEnumerable<NongSanVietNam.Models.NongSan>
@{
    ViewBag.Title = "DanhMucNS";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row">
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#" style="background-color:#337ab7; color:white">@ViewBag.tenloai</a> </li>
        </ul>
    </div>

    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="fancybox" href='@item.HinhAnhDaiDien' data-fancybox-group="gallery" title='@item.TenNS'>
                            <div style="width:220px;height:220px">
                                <img src="@item.HinhAnhDaiDien" alt="..." width="262" height="220">
                            </div>
                        </a>
                        <div class="caption">
                            <h4 style="text-align:center">@item.TenNS</h4>
                        </div>
                        <div style="text-align:center">
                            @Html.ActionLink("Xem chi tiết", "ChiTietNS", "NongSan", new { id = item.ID }, new { @class = "btn btn-success", @role = "button" })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


